body {
    background-color: grey;
}

#propContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#spinner {
    width: 500px;
    height: 500px;
    clip-path: circle(50% at 50% 50%);

    animation: spin 3s linear infinite;
    animation-play-state: paused;
}

#spinner:hover {
    animation-play-state: running;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.prop {
    width: 20%;
    height: 50%;
    background-color: blue;
    clip-path: polygon(0% 0%, 100% 50%, 100% 100%, 0% 100%);

    position: absolute;
    transform-origin: bottom left;
    left: 50%;
}

#prop1 {
    transform: rotate(0deg);
}

#prop2 {
    transform: rotate(90deg);
}

#prop3 {
    transform: rotate(180deg);
}

#prop4 {
    transform: rotate(270deg);
}

#center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: gold;
}

#stick {
    width: 20px;
    height: 50%;
    background-color: SaddleBrown;
    z-index: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
